@page "/portfolio"


@inject IStockPortfolioService StockPortfolioService

<div class="container">
    <div class="row">
        <div class="col">
            <SfAccumulationChart Title="Company Diversity">
                <AccumulationChartSeriesCollection>
                    <AccumulationChartSeries DataSource="@_portfolioListCompany" XName="Symbol" YName="TotalInvestment"
                                             Name="Symbol">
                    </AccumulationChartSeries>
                </AccumulationChartSeriesCollection>

                <AccumulationChartLegendSettings Visible="true"></AccumulationChartLegendSettings>
                <AccumulationChartTooltipSettings Enable="true" Format="${point.x} : <b>$${point.y}</b>"></AccumulationChartTooltipSettings>

            </SfAccumulationChart>
        </div>
        <div class="col">
            <SfAccumulationChart Title="Sector Diversity">
                <AccumulationChartSeriesCollection>
                    <AccumulationChartSeries DataSource="@_portfolioListSector" XName="Sector" YName="TotalInvestment"
                                             Name="Symbol">
                    </AccumulationChartSeries>
                </AccumulationChartSeriesCollection>

                <AccumulationChartLegendSettings Visible="true"></AccumulationChartLegendSettings>
                <AccumulationChartTooltipSettings Enable="true" Format="${point.x} : <b>$${point.y}</b>"></AccumulationChartTooltipSettings>

            </SfAccumulationChart>
        </div>
    </div>
</div>


@code {

    private IEnumerable<StockPortfolioViewModel> _portfolioListSector = new List<StockPortfolioViewModel>();
    private IEnumerable<StockPortfolioViewModel> _portfolioListCompany = new List<StockPortfolioViewModel>();


    protected override async Task OnInitializedAsync()
    {
        _portfolioListSector = await StockPortfolioService.StockPortfolioGroupBySector();
        _portfolioListCompany = await StockPortfolioService.StockPortfolioGroupByCompany();
    }
}
