
@inject IStockService StockService
@inject NavigationManager NavigationManager

<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#addStockModal">
    Add @Overview.Symbol to Portfolio
</button>

<!-- Modal -->
<div class="modal fade" id="addStockModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Invested Amount for @Overview.Symbol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <EditForm Model="@_stock" OnValidSubmit="() => AddStock(Overview, _stock.InvestmentAmount, DateValue)">
                <div class="modal-body">

                    <label for="invested-amount">Amount Invested</label>
                    <InputNumber @bind-Value=_stock.InvestmentAmount class="form-control" id="invested-amount" />
                    <br>
                    <SfDatePicker TValue="DateTime" Max='@_maxDateTime' @bind-Value="@DateValue" Placeholder='Choose a Date'></SfDatePicker>
                    @if (_success)
                    {
                        <span class="oi oi-check" aria-hidden="true">Stocks Added!</span>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Stock</button>

                </div>
            </EditForm>


        </div>
    </div>
</div>


@code {

    [Parameter]
    public CompanyOverviewModel Overview { get; set; }

    private DateTime _maxDateTime = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);
    public DateTime DateValue { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);

    private Stock _stock = new Stock();
    private bool _success = false;

    /**
     * Method that would add the stock to the current signed on user
     */
    public async Task AddStock(CompanyOverviewModel model, decimal investmentAmount, DateTime purchaseTime)
    {

        // Transferring information from api data to db model
        await StockService.AddStockAsync(model, investmentAmount, purchaseTime);

        // glyphicon
        _success = true;

        //Force reload of the page to the portfolio
        NavigationManager.NavigateTo($"portfolio", true);
    }


}
