
@page "/overview/{Symbol}"

@inject ICompanyOverviewService Client

@if (!(_results is null))
{
    <div class="jumbotron">
        <h3 class="display-4">@_results.Name (@_results.Symbol)</h3>
        <p class="lead">@TruncateAtWord(_results.Description, 300)</p>
        <hr class="my-4" />
    </div>
}


@code {
    [Parameter]
    public string Symbol { get; set; }

    private CompanyOverviewModel _results;

    protected override async Task OnInitializedAsync()
    {
        await GetCompanyOverview();
    }

    public async Task GetCompanyOverview()
    {
        _results = await Client.GetCompanyOverviewAsync(Symbol);
    }

    public static string TruncateAtWord(string input, int length)
    {
        if (input == null || input.Length < length)
            return input;
        int iNextSpace = input.LastIndexOf(" ", length, StringComparison.Ordinal);
        return string.Format("{0}…", input.Substring(0, (iNextSpace > 0) ? iNextSpace : length).Trim());
    }



}
