@page "/news"

<h3>News</h3>

<EditForm Model=@searchModel OnValidSubmit="@OnValidFormSubmission">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Company Name" @bind="searchModel.CompanyName" />
        </div>
        <div class="col">
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
    </div>
</EditForm>
<br />

<NewsResult SearchString="@searchModel.CompanyName"></NewsResult>



@code {

    StockNewsSearchModel searchModel = new StockNewsSearchModel();
    private bool _isFormSubmitted = false;

    private void OnValidFormSubmission()
    {
        
    }

}
