@page "/news"

<h3>News</h3>

<form>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Company Name">
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-primary">Search</button>
        </div>
    </div>
</form>

@code {

}
