@page "/overview"

@inject IHttpClientFactory Client
@inject IConfiguration Configuration 

<h3>Overview</h3>

@if (string.IsNullOrWhiteSpace(_errorMessage) == false)
{
    <div class="h2">@_errorMessage</div>
}
@if (_overview is null)
{
    <div class="h2">Loading.........</div>
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Sector</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@_overview.Symbol</td>
                <td>@_overview.Name</td>
                <td>@_overview.Sector</td>
            </tr>
        </tbody>
    </table>
}

@code {

    CompanyOverviewModel _overview;
    string _errorMessage;

    protected override async Task OnInitializedAsync()
    {
        // Create client 
        var client = Client.CreateClient("alphaVantage");



    // Call the API with the parameter 
        try
        {
            _overview = await client.GetFromJsonAsync<CompanyOverviewModel>($"query?function=OVERVIEW&symbol=AAPL&apikey={Configuration["StockApi:ApiKey"]}");
            _errorMessage = null;
        }
        catch(Exception ex)
        {
            _errorMessage = $"There was an error getting the company overview data: {ex.Message}";

        }
    }
}
