@using Diversify_Server.Interfaces

@inject IStockSearchService Client

@if(_results!=null)
{
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </thead>
        @foreach (var company in _results.BestMatches)
        {
            <tbody>
                <tr>

                    <td>@company.Symbol</td>
                    <td>@company.Name</td>
                    <td>@company.Type</td>

                </tr>
            </tbody>
        }
    </table>
}


@code {

    [Parameter]
    public string SearchString { get; set; }

    private SearchModelList _results;

    /**
     * Get the list of company using the keyword
     */
    protected override async Task OnInitializedAsync()
    {
        _results = await Client.GetStockAsync(SearchString);

        SearchString = "";
    }

}
