@page "/transactions"

@inject IStockPortfolioService StockPortfolioService

@attribute [Authorize]



<label>Stock Purchased</label>
<SfGrid DataSource="@_ownedStocks" AllowPaging="true" AllowSorting="true">
    <GridPageSettings PageSize="5"></GridPageSettings>
    <GridColumns>
        <GridColumn Field=@nameof(StockTransactionViewModel.Symbol) HeaderText="Symbol" Width="120"></GridColumn>
        <GridColumn Field=@nameof(StockTransactionViewModel.CompanyName) HeaderText="Company Name" Width="150"></GridColumn>
        <GridColumn Field=@nameof(StockTransactionViewModel.DividendYield) HeaderText="Dividend Yield" Format="P2" Type="ColumnType.Number" Width="130"></GridColumn>
        <GridColumn Field=@nameof(StockTransactionViewModel.Sector) HeaderText="Sector" Width="120"></GridColumn>
        <GridColumn Field=@nameof(StockTransactionViewModel.PurchaseDate) HeaderText="Purchase Date" Format="d" Type="ColumnType.Date" Width="120"></GridColumn>
        <GridColumn Field=@nameof(StockTransactionViewModel.PurchasePrice) HeaderText="Purchase Price" Format="C2" Width="120"></GridColumn>
    </GridColumns>
</SfGrid>
<br />

<label>Stock Sold</label>
<SfGrid DataSource="@_soldStocks" AllowPaging="true" AllowSorting="true">
    <GridPageSettings PageSize="5"></GridPageSettings>
    <GridColumns>
        <GridColumn Field=@nameof(StockTransactionViewModel.Symbol) HeaderText="Symbol" Width="120"></GridColumn>
        <GridColumn Field=@nameof(StockTransactionViewModel.CompanyName) HeaderText="Company Name" Width="150"></GridColumn>
        <GridColumn Field=@nameof(StockTransactionViewModel.DividendYield) HeaderText="Dividend Yield" Format="P2" Type="ColumnType.Number" Width="130"></GridColumn>
        <GridColumn Field=@nameof(StockTransactionViewModel.Sector) HeaderText="Sector" Width="120"></GridColumn>
        <GridColumn Field=@nameof(StockTransactionViewModel.SoldDate) HeaderText="Date" Format="d" Type="ColumnType.Date" Width="120"></GridColumn>
        <GridColumn Field=@nameof(StockTransactionViewModel.SoldPrice) HeaderText= "Price" Format="C2" Width="120"></GridColumn>
    </GridColumns>
</SfGrid>


@code {

        private List<StockTransactionViewModel> _ownedStocks = new List<StockTransactionViewModel>();
        private List<StockTransactionViewModel> _soldStocks = new List<StockTransactionViewModel>();

        protected override async Task OnInitializedAsync()
        {
            _ownedStocks = await StockPortfolioService.GetCurrentUserStockTransaction();
            _soldStocks = await StockPortfolioService.GetCurrentUserStockTransactionSold();
        }
}
