@inject IInvestmentTotalService InvestmentTotalService

<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#addStockModal">
    Add @StockPortfolio.Symbol to Portfolio
</button>

<!-- Modal -->
<div class="modal fade" id="addStockModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Amount Sold for @StockPortfolio.Symbol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <EditForm Model="@_stock" OnValidSubmit="() => SellStockAsync(StockPortfolio.Symbol, _stock.InvestmentAmount)">
                <div class="modal-body">

                    <label for="invested-amount">Amount Sold</label>
                    $<InputNumber @bind-Value=_stock.InvestmentAmount class="form-control" id="invested-amount" />
                    <br>
                    @if (_success)
                    {
                        <span class="oi oi-check" aria-hidden="true">Stocks Sold!</span>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Stock</button>

                </div>
            </EditForm>


        </div>
    </div>
</div>

@code{

    [Parameter]
    public StockPortfolioViewModel StockPortfolio { get; set; }

    private Stock _stock = new Stock();
    private bool _success = false;

    /**
     * Method to sell the stock
     */
    public async Task SellStockAsync(string companySymbol, decimal amount)
    {
        await InvestmentTotalService.EditExistingInvestment(companySymbol, amount);

        _success = true;
    }

}
