
@inject IStockSearchService Client
@inject NavigationManager NavigationManager


<SfGrid DataSource="@_results.BestMatches" AllowPaging="true" AllowSorting="true" >
    <GridPageSettings PageSize="5"></GridPageSettings>
    <GridColumns>
        <GridColumn Field=@nameof(SearchModel.Symbol) HeaderText="Symbol" Width="120"></GridColumn>
        <GridColumn Field=@nameof(SearchModel.Name) HeaderText="Customer Name" Width="150"></GridColumn>
        <GridColumn Field=@nameof(SearchModel.Symbol) HeaderText="Customer Name" Width="150"></GridColumn>
        <GridColumn HeaderText="Link" Width="120">
            <Template>
                @{
                    var company = (context as SearchModel);
                    <div><a href="#" @onclick="@(() => Navigate(company))">View</a></div>
                }
            </Template>
        </GridColumn>

    </GridColumns>
</SfGrid>

@code {

    [Parameter]
    public string CompanyName { get; set; }

    private SearchModelList _results = new SearchModelList();

    protected override async Task OnParametersSetAsync()
    {
        _results = await Client.GetStockAsync(CompanyName);
    }

    /**
     * Navigation method
     */
    public void Navigate(SearchModel company)
    {
        NavigationManager.NavigateTo($"/overview/{company.Symbol}");
    }
}
