@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<div class="card" style="width: 20rem;">
    <div class="card-body">
        <h5 class="card-title">Manage @CompanySymbol</h5>
        <EditForm Model="@_stock" OnValidSubmit="() => SellStockAsync(CompanySymbol,_editAmount)">
            <h6 class="card-subtitle mb-2 text-muted">Amount Sold</h6>
            <InputNumber @bind-Value=_editAmount class="form-control col-sm-3" id="sold-amount" />
            <br>
            <p>
                @if (_success)
                {
                    <span class="oi oi-check" aria-hidden="true">Stocks Sold!</span>
                }
            </p>
            <button type="submit" class="btn btn-primary">Sell Stock</button>
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public string CompanySymbol { get; set; }

    private Stock _stock = new Stock();

    private decimal _editAmount = 0;

    private bool _success = false;
    
    public async Task SellStockAsync(string companySymbol, decimal amount)
    {
        var existing = new SellStockViewModel
        {
            Amount = amount,
            CompanySymbol = companySymbol
        };

        await HttpClient.PostAsJsonAsync("api/stock/sellstock", existing);
        NavigationManager.NavigateTo($"editinvestment/{companySymbol}", true);

        _success = true;

        StateHasChanged();
    }
}